.content-container-slider {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.5em, 1fr));
    grid-auto-rows: 11.5em;
    column-gap: 5px;
    row-gap: 13px;
    justify-content: space-evenly;


}

.content-container-label {
    justify-content: space-between;
    margin: 0 0;
    justify-content: center;
}

.content-container-label a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container-wrapper {
    background-color: rgba(128, 128, 128, 0.177);
    padding: 20px 20px;
    margin: 5px 0;
}