.container {
    position: relative;
    top: -10em;
    overflow: hidden;
}

.containerSlider {
    position: relative;
    height: 156.45px;
}

.videoContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 152.45px;
    transition: all 1s ease, opacity 0.1s ease;
}

.button {
    position: absolute;
    z-index: 1;
    padding: 10px 15px;
    color: aqua;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.727);
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.button:hover {
    color: black;
    background-color: aqua;
}


.before {
    left: 0;
}

.after {
    right: 0;
}

.left_slide {
    transform: translateX(-100%);
}

.right_slide {
    transform: translateX(100%);
}