.header-container {
    flex-direction: row;
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    width: 100vw;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0), rgba(0, 0, 0, 0.5));
    border-bottom: solid 1px rgba(245, 245, 245, 0.681);
    z-index: 10;
    padding: 0.1em 0;
}

.header-navbar {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.header-right-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    align-items: center;
}

#header-ul>li {

    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    font-weight: 100;
}

#header-ul>li:hover {
    /* color: rgb(0, 240, 240); */
    color: aquamarine;
    background: linear-gradient(to bottom, transparent, transparent, rgba(0, 255, 255, 0.159));
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    background-image: url("../assets/avtdefault.png");
}

.user-list {
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: gray;
    border: solid 1px black;
    border-radius: 10px;
}

.user-list>li {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    width: 200px;
    font-size: 15px;
}

.user-list>li:hover {
    background-color: rgba(185, 185, 185);
    color: black;
    cursor: pointer;
}

#find-icon {
    display: flex;
    position: absolute;
    left: 0.4em;
    top: 1.2em;
    z-index: 1;
    flex-direction: row;
    align-items: center;
}

#header-toggle-logo {
    display: none;
}

@media screen and (max-width :1080px) {
    .header-navbar {
        margin-left: 0;
        position: absolute;
        padding: 0.5em 0;
        width: 100%;
        top: 3.4em;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 5px;
        display: none;
        background-color: rgba(0, 0, 0, 0.767);
    }

    #header-toggle-logo {
        display: block;
    }
}

@media screen and (max-width:630px) {
    #header-message {
        display: none;
    }
}

@media screen and (max-width:577px) {
    #header-ul {
        top: 8em;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }
}