.action {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.icon {
    padding: 2px;
    border-radius: 5px;
}

.add_episode {
    background-color: steelblue;
}

.add_episode:hover {
    background-color: rgb(33, 67, 95);
}

.update {
    background-color: green;
}

.update :hover {
    background-color: rgb(1, 80, 1);
}

.delete {
    background-color: red;
}

.delete:hover {
    background-color: rgb(170, 0, 0);
}