.wrapper {
    background-color: rgb(34, 34, 34, 0.9);
    color: white;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: rgb(140, 140, 140) 5px 5px 10px;
    border-radius: 20px;
    margin: 30px 0;
    min-height: auto;
    justify-content: center;
}

.wrapper-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}