.default-button {
    width: 371.6px;
    height: 45.6px;
    border-radius: 20px;
    padding: 2px 10px;
    background: radial-gradient(ellipse, black, rgb(61, 61, 61));
    outline: none
}

.default-button:hover {
    background: radial-gradient(ellipse, black, rgb(35, 35, 35));
    outline: none;
}

.default-button:focus {
    outline: none;
}

.default-button:active {
    background: rgb(0, 0, 0);
    outline: none;
}