.login-form {
    gap: 5px !important;
}

.form-box {
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: 0px 0px 4px cyan;
}
.form-box h2 {
    margin-bottom: 0;
    color: cyan;
    text-shadow: 0px 0px 4px cyan;
}

.form-box a{
    color: cyan;
    text-shadow: 0px 0px 2px cyan;
}