.label {
    position: relative;
    top: 0;
    left: 0;
}

.default-input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding: 2px 20px;
}



.default-input:focus,
.default-input-half:focus,
.medium-input:focus,
.description:focus {
    outline: none;
    border: solid 1px aqua;
}

.default-input-half {
    width: 149px;
    height: 40px;
    border-radius: 10px;
    padding: 2px 20px;
}

.medium-input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 2px 35px;
}

.description {
    word-wrap: break-word;
    width: 309px;
    height: 300px;
    border-radius: 10px;
    padding: 2px 20px;
}

.new-input {
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 4px #00ffff;
    border: solid 1px #000;
    margin: 10px 0;
    transition: all .5s ease-out
}

.new-input::placeholder {
    color: #fff;
}
