.default-input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding: 2px 10px;
}

.default-input-half {
    width: 157px;
    height: 40px;
    border-radius: 10px;
    padding: 2px 10px;
}