:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 !important;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

a:hover {
  color: #268283;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}


i {
  margin: 0 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

li {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.margin-header {
  min-height: 30em;
  margin: 60px 0 0 0;
  padding: 0 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-hover-aqua {
  transition: all 0.3s ease;
}

.text-hover-aqua:hover {
  color: aqua !important;
}

.videobox-hightlight {
  border-radius: 5px;
  padding: 1px 2px;
}

.videobox-category {
  border: solid 1px teal;
  background-color: teal;
}

.videobox-country {
  border: solid 1px purple;
  background-color: purple;
}

.videobox-releaseDate {
  border: solid 1px brown;
  background-color: brown;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width:577px) {
  .margin-header {
    margin: 7.5em 0 0 0;
  }
}